extends layout

block content
    .page-header 
        .row
            .col-sm-12  
                h1 About Lock8r

    .row
        .col-md-6
            p Some text goes here
            br
            p Some additional text goes here
