extends layout

block content
    .page-header 
        .row
            .col-sm-12  
                h1= title

    .row
        .col-md-6
            each paragraph in paragraphs
                p= paragraph
                br