extends layout

block content
    .page-header 
            .row
                .col-sm-12  
                    h1= title
                    h2= status
    .row 
        pre #{JSON.stringify(text)}
