extends layout

block content
    .row.page-header
            .col-sm-12  
                h1 Loc8r 
    .row
        .col-sm-8.col-xs-12
            .row
                .col-sm-6.col-xs-12
                    .row
                        p 
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star 
                            span.glyphicon.glyphicon-star 
                            span.glyphicon.glyphicon-star 
                            span.glyphicon.glyphicon-star-empty
                        p 125 High street, Reading, RG6 1PS  
                    .row    
                        .panel.panel-primary
                            .panel-heading 
                                h4.panel-title Opening hours
                            .panel-body
                                p Monday - Friday : 07:00am 07:00pm
                                p Saturday : 08:00am 05:00pm
                                p Sunday : closed
                    .row 
                        .panel.panel-primary
                            .panel-heading 
                                h4.panel-title Facilities
                            .list-group-item
                                span.label.label-warning 
                                    span.glyphicon.glyphicon-ok
                                    |   Facility1 
                                &nbsp;
                                span.label.label-warning 
                                    span.glyphicon.glyphicon-ok
                                    |   Facility2 
                .col-sm-6.col-xs-12.location-map
                    .panel.panel-primary 
                        .panel-heading 
                            h4.panel-title Map
                        .panel-body 
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,- 0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
            .row
                .panel.panel-primary
                    .panel-heading 
                        a.btn.btn-default.btn-xs.pull-right(href='/location/review/new') Add review
                        h4.panel-title Customer reviews
                    .panel-body.review-container
                        .row
                            .review
                                .well.well-sm.review-header
                                    span.glyphicon.glyphicon-star 
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star 
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star 
                                    span.reviewAuthor John Malkovich 
                                    small.reviewTimestamp 12.05.2018
                                .col 
                                    p This is the best place ever! 
                        .row
                            .review
                                .well.well-sm.review-header
                                    span.glyphicon.glyphicon-star 
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star 
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty 
                                    span.reviewAuthor Jack Rambo 
                                    small.reviewTimestamp 18.06.2018
                                .col 
                                    p Good place. A bit grumpy staff, though.
        .col-sm-4.col-xs-12
            p.lead 
            | Looking for wifi and a seat? Loc8r helps you find places to work when out and about. 
            | Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
  
